.POS-BalanceView {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: auto;
}

.POS-totalBalance {
  text-transform: capitalize;
  font-weight: normal;
  font-size: 50px;
  margin: 0 auto auto;
}
.POS-BalanceScrollView {
  width: auto;
  max-width: calc(95% - 100px);
  height: fit-content;
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap; /* Prevent text from wrapping */
}
