.POS-keypad {
  width: 100%;
  margin-top: 10px;
}

.POS-keypad .POS-keypadRow {
  width: 100%;
  display: flex;
  justify-content: center;
}

.POS-keypad .POS-keypadRow .key {
  width: min(calc(100dvw / 3), 138px);

  height: min(calc(100dvw / 3), 70px);

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.POS-keypad .POS-keypadRow .key span {
  font-size: 20px;
}
