.TipPage-container {
  width: 100%;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

.Tip-container {
  width: 90%;
  max-width: 800px;
  flex: 1;
  min-height: calc(100dvh - 52px);
  margin: 0 auto 0;
  display: flex;
  flex-direction: column;
  padding-top: 3em;
  padding-bottom: 20px;
}

/* Total Section */
.Tip-AmountDisplay {
  text-align: center;
  margin-bottom: 2rem;
}

.total-label {
  opacity: 0.5;
  font-size: 0.875rem;
  margin-bottom: 10px;
}

.total-amount-large {
  font-size: 50px;
  font-weight: 500;
  line-height: 1;
}

/* Tip Selection */
.Tip-ContentArea {
  flex: 1;
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  margin: 20px auto 0.75rem;
  justify-content: center;

  /* gap: 1.5rem; */
}

.tip-header-text {
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
  margin-bottom: 16px;
}

.tip-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.75rem;
  margin-bottom: 0.75rem;
}

.tip-option {
  padding: 1.5rem 1rem;
  border-radius: 16px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  background-color: unset;
  border: 2px solid var(--lightModeBackgroundOffset);
}

.tip-option-selected {
  background-color: var(--primary) !important;
  border: 2px solid var(--primary);
  color: white !important;
}
.tip-option-selected > * {
  color: white !important;
}

.no-tip-btn {
  width: 100%;
  padding: 1em 0;
  border-radius: 12px;
  background-color: transparent;
  border: 2px solid var(--lightModeBackgroundOffset);
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
}

.no-tip-selected {
  background-color: var(--primary) !important;
  color: white !important;
  border-color: transparent !important;
}

.tip-option-percent {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: -5px;
}
.tip-option-amount {
  font-size: 0.875rem;
  font-weight: 400;
  opacity: 0.65;
}

/* Continue Button */
.continue-btn {
  max-width: 500px;
  margin: 0 auto;
}

.continue-btn:disabled {
  opacity: 0.45;
}

/* Tip Footer */
.Tip-Footer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Custom Tip Section */
.custom-tip-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
