.addTipsUsername {
  width: 90%;
  min-height: 100dvh;
  margin: 0 auto;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.addTipsUsername-main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.addTipsUsername-header {
  width: 100%;
  margin: 0 auto;
  padding: 10px 0;
}
.addTipsUsername-header .App-logo {
  height: 50px;
  width: 50px;
  pointer-events: none;
}

.addTipsUsername-main .addTipsUsername-title {
  font-size: 60px;
  font-style: italic;
  font-weight: 600;
  color: var(--primary);
  margin: 0;
  text-align: center;
  margin-top: auto;
}
.addTipsUsername-main .addTipsUsername-subtitle {
  width: 100%;
  max-width: 500px;
  font-size: 18px;
  margin: 0 auto;
  text-align: center;
}
.addTipsUsername-main .addTipsUsername-inputContainer {
  width: 100%;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px auto auto;
}
.addTipsUsername-main .addTipsUsername-inputContainer p {
  margin-bottom: 5px;
}

.addTipsUsername-main .addTipsUsername-button {
  margin: 80px auto 20px;
}
/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
