.POS-Container {
  width: 100%;

  display: flex;
  flex-direction: column;
}
.POS-ContentContainer {
  width: 90%;
  max-width: 500px;
  min-height: calc(100dvh - 50px);
  margin: auto auto 0;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
.PaymentPage-Container {
  margin: auto;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.PaymentPage-QRcontainer {
  overflow: hidden;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--lightModeBackgroundOffset);
  padding: 10px;
  border-width: 0;
  cursor: pointer;
}
.PaymentPage-QRPadding {
  padding: 10px;
  border-radius: 8px;
  background-color: var(--darkModeText);
}

.PaymentPage-QR {
  width: 250px;
  height: 250px;
  background-color: var(--darkModeText);
}

.QR-OptionsContainer {
  width: 240px;
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}

.QR-Option {
  width: 45%;
  background-color: var(--darkModeText);
  border-width: 0;
  padding: 8px 0;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
}

.QR-OptionNoFill {
  width: max-content;
  max-width: 250px;
  background-color: unset;
  border-width: 1px;
  margin-top: 10px;
  padding: 8px 10px;
  color: var(--lightModeText);
  border-color: var(--lightModeText);
}

.POS-LoadingScreen {
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.POS-LoadingScreen .POS-LoadingScreenDescription {
  width: 80%;
  text-align: center;
  margin: 20px auto 0;
}
