.POS-Container {
  width: 100%;

  display: flex;
  flex-direction: column;
}
.POS-ContentContainer {
  width: 90%;
  max-width: 500px;
  min-height: calc(100dvh - 50px);
  margin: auto auto 0;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.POS-Container .POS-chargeItems {
  margin-bottom: 0;
  margin: auto auto 0;
  font-size: 20px;
  text-align: center;
}
.POS-Container .POS-savedItemsContainer {
  width: 100%;
  max-width: 150px;

  display: flex;
  justify-content: space-between;
  margin: auto auto 0;
  position: relative;
}
.POS-Container .POS-savedItemsContainer p {
  margin: 0 0 8px 0;
  cursor: pointer;
}
.POS-Container .POS-savedItemsContainer .active {
  font-weight: 500;
}

.POS-Container .alt-amount {
  margin: 0;
  font-size: 18px;
}
.POS-Container .POS-savedItemsContainer .selectedInputBar {
  height: 5px;
  width: 100px;
  background-color: var(--primary);
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 8px;

  transition: 0.5s all;
}

.POS-Container .POS-AmountError {
  margin: 0 auto;
  text-align: center;
  font-size: 14px;
}

.POS-Container .POS-btn {
  display: flex;
  background-color: var(--primary);
  color: var(--darkModeText);

  align-items: center;
  margin: 10px auto 0;
}
.POS-Container .POS-btn .POS-btnIcon {
  height: 25px;
  width: auto;
  margin-right: 5px;
}

.chargeContainer {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px auto;

  background-color: rgb(0, 54, 83);
  border-radius: 10px;
  color: white;
}
.navItems {
  width: 100%;
  display: flex;
  position: relative;
  margin-bottom: 20px;
}
.navItems h3 {
  width: 50%;
  text-align: center;
  cursor: pointer;
  padding: 10px 0;
  text-transform: uppercase;
}
.navItems .slider {
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 50%;
  left: 0%;
  background-color: green;
  transition: 0.3s all ease-out;
}

.navItems .translated {
  left: 50%;
}
.navItems .unTranslated {
  left: 0%;
}

.dollarValue {
  margin: 0 auto;
}

.POS-denominationDisclaimer {
  margin: 5px auto 20px;
  font-size: 12px;
}
