.POS-navbar {
  width: 90%;
  max-width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px auto 10px;
  position: relative;
}
.POS-back {
  width: 25px;
  height: 25px;
  cursor: pointer;
  margin-right: auto;
}
.POS-name {
  width: calc(100% - 110px);
  text-align: center;

  text-transform: capitalize;
  font-weight: normal;
  font-size: 18px;
  margin: 0;
  position: absolute;
}
.nav-warning {
  width: 22px;
  height: 22px;
  cursor: pointer;
  margin-top: 2px;
  margin-right: 5px;
}

.nav-settings {
  width: 25px;
  height: 25px;
  cursor: pointer;
}
